#include <zephyr/dt-bindings/regulator/nrf5x.h>

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,code-partition = &code_partition;
		zephyr,settings-partition = &storage_partition;
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "keyboard";
		in-report-size = <8>;
		in-polling-period-us = <1000>;
	};

	buttons {
		compatible = "gpio-keys";

		main_btn: main_btn {
			gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
			label = "Main button";
		};
	};

	zephyr,user {
		io-channels = <&adc 2>;
	};

	pwmleds {
		compatible = "pwm-leds";

		bkg_led: bkg_led {
			pwms = <&pwm0 0 PWM_USEC(20) PWM_POLARITY_INVERTED>;
		};

		key_led: key_led {
			pwms = <&pwm1 0 PWM_USEC(20) PWM_POLARITY_INVERTED>;
		};
	};

	aliases {
		main-btn = &main_btn;
		bkg-led = &bkg_led;
		key-led = &key_led;
	};
};

// https://github.com/zephyrproject-rtos/zephyr/issues/28061
&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
};

&flash0 {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* nice!nano / Adafruit nRF52 bootloader layout:
		 * 0x00000..0x26000: MBR + S140 SoftDevice v6.1.1
		 * 0x26000..0xec000: Zephyr application
		 * 0xec000..0xf4000: Zephyr settings/NVS for BLE bonding keys
		 * 0xf4000..0x100000: UF2 bootloader
		 */
		reserved_partition_0: partition@0 {
			label = "MBR";
			read-only;
			reg = <0x00000000 0x00001000>;
		};

		softdevice_partition: partition@1000 {
			label = "SoftDevice";
			read-only;
			reg = <0x00001000 0x00025000>;
		};

		code_partition: partition@26000 {
			label = "Application";
			reg = <0x00026000 0x000c6000>;
		};

		storage_partition: partition@ec000 {
			label = "Storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "UF2";
			read-only;
			reg = <0x000f4000 0x0000c000>;
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&qspi {
	status = "disabled";
};

&mx25r64 {
	status = "disabled";
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;
		zephyr,resolution = <12>;
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 2)>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 2)>;
			low-power-enable;
		};
	};

	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 12)>;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 12)>;
			low-power-enable;
		};
	};
};
